*{
    box-sizing: border-box;
  }
  body{
    padding: 0;
    margin: 0;
    background-color: #e9f3ff;
  }
  .App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .navbar{
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    background-color: #37258b;
  }
  .navbar>button{
    margin-left: 25px;
    background-color: #50c4b7;
    border: none;
    
  }
  .navbar>button:hover{
    background-color: #fb6155;
  }
  
  .title{
    width: 100%;
    height: 60px;
    font-size: x-large;
    font-weight: 500;
    background-color: #37258b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .add-user{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  table{
    width: 50%;
    height: 300px;
  }
  .btn-grp{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
  }
  .user-log{
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .add-label{
    width: 50%;
    height: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  tr{ 
    border: 1px solid lightgrey;
  }
  .card-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    width: 30%;
    height: 50%;
    color: black;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
  
  }
  .card>h2{
    width: 100%;
    height: 45px;
    background-color: #37258b;
    color: white;
    border-radius: 5px;
  }
  .card>button{
    width: 50%;
    
  }
  .no-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home{
    background-image: url("../public/School-Management.jpeg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    
  }